#intro
  %p
    Handlebars provides the power necessary to let you build 
    <strong>semantic templates</strong> effectively with no frustration.

  %p
    Mustache templates are compatible with Handlebars, so you can
    take a Mustache template, import it into Handlebars, and start
    taking advantage of the extra Handlebars features.

= link("Download: 1.0.rc.1", "https://github.com/downloads/wycats/handlebars.js/handlebars-1.0.rc.1.js", :class => 'download')
= link("Download: runtime-1.0.rc.1", "https://github.com/downloads/wycats/handlebars.js/handlebars.runtime-1.0.rc.1.min.js", :class => 'download-runtime')

%h2#getting-started
  Getting Started

.contents
  .bullet
    .description
      Handlebars templates look like regular HTML, with embedded
      handlebars expressions.
    :html
      <div class="entry">
        <h1>{{title}}</h1>
        <div class="body">
          {{body}}
        </div>
      </div>
    .notes
      A handlebars expression is a <code>{{</code>, some contents,
      followed by a <code>}}</code>
    = link("Learn More: Expressions", "expressions.html")

  .bullet
    .description
      You can deliver a template to the browser by including it
      in a <code>&lt;script&gt;</code> tag.
    :html
      <script id="entry-template" type="text/x-handlebars-template">
        template content
      </script>

  .bullet
    .description
      Compile a template in JavaScript by using
      <code>Handlebars.compile</code>
    :javascript
      var source   = $("#entry-template").html();
      var template = Handlebars.compile(source);
    .notes
      It is also possible to precompile your templates. This will
      result in a smaller required runtime library and significant
      savings from not having to compile the template in the
      browser. This can be especially important when working with
      mobile devices.
    = link("Learn More: Precompilation", "precompilation.html")

  .bullet
    .description
      Get the HTML result of evaluating a Handlebars template by
      executing the template with a context.
    :javascript
      var context = {title: "My New Post", body: "This is my first post!"}
      var html    = template(context);
    .notes
      results in
    :html
      <div class="entry">
        <h1>My New Post</h1>
        <div class="body">
          This is my first post!
        </div>
      </div>

  .bullet
    .description
      Handlebars HTML-escapes values returned by a <code>{{expression}}</code>.
      If you don't want Handlebars to escape a value, use the "triple-stash".

    :html
      <div class="entry">
        <h1>{{title}}</h1>
        <div class="body">
          {{{body}}}
        </div>
      </div>

    .notes
      with this context:

    :javascript
      {
        title: "All about <p> Tags",
        body: "<p>This is a post about &lt;p&gt; tags</p>"
      }

    .notes
      results in:

    :html
      <div class="entry">
        <h1>All About &lt;p&gt; Tags</h1>
        <div class="body">
          <p>This is a post about &lt;p&gt; tags</p>
        </div>
      </div>

    .notes
      Handlebars will not escape a <code>Handlebars.SafeString</code>.
      If you write a helper that generates its own HTML, you will usually
      want to return a <code>new Handlebars.SafeString(result)</code>.
      In such a circumstance, you will want to manually escape parameters.

    :javascript
      Handlebars.registerHelper('link', function(text, url) {
        text = Handlebars.Utils.escapeExpression(text);
        url  = Handlebars.Utils.escapeExpression(url);

        var result = '<a href="' + url + '">' + text + '</a>';

        return new Handlebars.SafeString(result);
      });

    .notes
      This will escape the passed in parameters, but mark the response as
      safe, so Handlebars will not try to escape it even if the "triple-stash"
      is not used.

%h2#block-expressions
  Block Expressions

.context
  .bullet
    .description
      Block expressions allow you to define helpers that will invoke
      a section of your template with a different context than the
      current. Let's consider a helper that will generate an HTML list:

    :html
      {{#list people}}{{firstName}} {{lastName}}{{/list}}

    .notes
      If we have the following context:

    :javascript
      {
        people: [
          {firstName: "Yehuda", lastName: "Katz"},
          {firstName: "Carl", lastName: "Lerche"},
          {firstName: "Alan", lastName: "Johnson"}
        ]
      }

    .notes
      we would create a helper named <code>list</code> to generate our
      HTML list. The helper receives the <code>people</code> as its
      first parameter, and an options hash as its second parameter.
      The options hash contains a property named <code>fn</code>,
      which you can invoke with a context just as you would invoke a
      normal Handlebars template.

    :javascript
      Handlebars.registerHelper('list', function(items, options) {
        var out = "<ul>";

        for(var i=0, l=items.length; i<l; i++) {
          out = out + "<li>" + options.fn(items[i]) + "</li>";
        }

        return out + "</ul>";
      });

    .notes
      When executed, the template will render:

    :html
      <ul>
        <li>Yehuda Katz</li>
        <li>Carl Lerche</li>
        <li>Alan Johnson</li>
      </ul>

    .notes
      Block helpers have more features, such as the ability to create an
      <code>else</code> section (used, for instance, by the built-in if
      helper).

    .notes
      Since the contents of a block helper are escaped when you call
      <code>options.fn(context)</code>, Handlebars does not escape
      the results of a block helper. If it did, inner content would
      be double-escaped!

    = link("Learn More: Block Helpers", "block_helpers.html")

%h1#builtins
  Built-In Block Helpers

%h2#with
  The <code>with</code> Block Helper

.content
  .bullet
    .description
      Normally, Handlebars templates are evaluated against the context
      passed into the compiled method.
    :javascript
      var source   = "<p>{{lastName}}, {{firstName}}</p>";
      var template = Handlebars.compile(source);
      template({firstName: "Alan", lastName: "Johnson"});
    .notes
      results in
    :html
      <p>Johnson, Alan</p>

  .bullet
    .description
      You can shift the context for a section of a template by using
      the built-in <code>with</code> block helper.
    :html
      <div class="entry">
        <h1>{{title}}</h1>

        {{#with author}}
        <h2>By {{firstName}} {{lastName}}</h2>
        {{/with}}
      </div>
    .notes
      when used with this context:
    :javascript
      {
        title: "My first post!",
        author: {
          firstName: "Charles",
          lastName: "Jolley"
        }
      }
    .notes
      will result in:
    :html
      <div class="entry">
        <h1>My first post!</h1>

        <h2>By Charles Jolley</h2>
      </div>

%h2#iteration
  The <code>each</code> block helper

.content
  .bullet
    .description
      You can iterate over a list using the built-in <code>each</code>
      helper. Inside the block, you can use <code>this</code> to reference
      the element being iterated over.
    :html
      <ul class="people_list">
        {{#each people}}
        <li>{{this}}</li>
        {{/each}}
      </ul>
    .notes
      when used with this context:
    :javascript
      {
        people: [
          "Yehuda Katz",
          "Alan Johnson",
          "Charles Jolley"
        ]
      }
    .notes
      will result in:
    :javascript
      <ul class="people_list">
        <li>Yehuda Katz</li>
        <li>Alan Johnson</li>
        <li>Charles Jolley</li>
      </ul>
    .notes
      You can use the <code>this</code> expression in any context to reference
      the current context.

  .bullet
    .description
      You can optionally provide an <code>{{else}}</code> section which will display only when the list is empty.

    :html
      {{#each paragraphs}}
        <p>{{this}}</p>
      {{else}}
        <p class="empty">No content</p>
      {{/each}}

%h2#conditionals
  The <code>if</code> block helper

.content
  .bullet
    .description
      You can use the <code>if</code> helper to conditionally render a block. If
      its argument returns <code>false</code>, <code>undefined</code>, <code>null</code>,
      <code>""</code> or <code>[]</code> (a "falsy" value), Handlebars will not
      render the block.
    :html
      <div class="entry">
        {{#if author}}
        <h1>{{firstName}} {{lastName}}</h1>
        {{/if}}
      </div>
    .notes
      when used with an empty (<code>{}</code>) context, will result in:
    :html
      <div class="entry">
      </div>

  .bullet
    .description
      When using a block expression, you can specify a template section to
      run if the expression returns a falsy value. The section, marked by
      <code>{{else}}</code> is called an "else section".
    :html
      <div class="entry">
        {{#if author}}
          <h1>{{firstName}} {{lastName}}</h1>
        {{else}}
          <h1>Unknown Author</h1>
        {{/if}}
      </div>

%h2#Comments
  Template comments with <code>{{! }}</code>

.content
  .bullet
    .description
      You can use comments in your handlebars code just as you would in your
      code. Since there is generally some level of logic, this is a good
      practice.
    :html
      <div class="entry">
        {{! only output this author names if an author exists }}
        {{#if author}}
          <h1>{{firstName}} {{lastName}}</h1>
        {{/if}}
      </div>
    .notes
      The comments will not being in the resulting output. If you'd like the
      comments to show up. Just use html comments, and they will be output.
    :html
      <div class="entry">
        {{! This comment will not be in the output }}
        <!-- This comment will be in the output -->
      </div>

%h2#unless
  The <code>unless</code> block helper

.content
  .bullet
    .description
      You can use the <code>unless</code> helper as the inverse of the
      <code>if</code> helper. Its block will be rendered if the expression
      returns a falsy value.
    :html
      <div class="entry">
        {{#unless license}}
        <h3 class="warning">WARNING: This entry does not have a license!</h3>
        {{/unless}}
      </div>
    .notes
      If looking up <code>license</code> under the current context returns a
      falsy value, Handlebars will render the warning. Otherwise, it will render
      nothing.

%h2#paths
  Handlebars Paths

.content
  .bullet
    .description
      Handlebars supports simple paths, just like Mustache.
    :html
      <p>{{name}}</p>

  .bullet
    .description
      Handlebars also supports nested paths, making it possible
      to look up properties nested below the current context.
    :html
      <div class="entry">
        <h1>{{title}}</h1>
        <h2>By {{author.name}}</h2>

        <div class="body">
          {{body}}
        </div>
      </div>
    .notes
      That template works with this context
    :javascript
      var context = {
        title: "My First Blog Post!",
        author: {
          id: 47,
          name: "Yehuda Katz"
        },
        body: "My first post. Wheeeee!"
      };
    .notes
      This makes it possible to use Handlebars templates with
      more raw JSON objects.

  .bullet
    .description
      Nested handlebars paths can also include <code>../</code> segments,
      which evaluate their paths against a parent context.
    :html
      <h1>Comments</h1>

      <div id="comments">
        {{#each comments}}
        <h2><a href="/posts/{{../permalink}}\#{{id}}">{{title}}</a></h2>
        <div>{{body}}</div>
        {{/each}}
      </div>
    .notes
      Even though the link is printed while in the context of a comment,
      it can still go back to the main context (the post) to retrieve
      its permalink.
    .notes
      The <code>../</code> path segment references the parent template
      scope, not one level up in the context. This is because block
      helpers can invoke a block with any context, so the notion of
      "one level up" isn't particularly meaningful except as a reference
      to the parent template scope.

%h2#helpers
  Helpers

.content
  .bullet
    .description
      Handlebars helpers can be accessed from any context in a template.
      You can register a helper with the <code>Handlebars.registerHelper</code> method.
    :html
      <div class="post">
        <h1>By {{fullName author}}</h1>
        <div class="body">{{body}}</div>

        <h1>Comments</h1>

        {{#each comments}}
        <h2>By {{fullName author}}</h2>
        <div class="body">{{body}}</div>
        {{/each}}
      </div>

    .notes
      when using this context and helpers:

    :javascript
      var context = {
        author: {firstName: "Alan", lastName: "Johnson"},
        body: "I Love Handlebars",
        comments: [{
          author: {firstName: "Yehuda", lastName: "Katz"},
          body: "Me too!"
        }]
      };

      Handlebars.registerHelper('fullName', function(person) {
        return person.firstName + " " + person.lastName;
      });

    .notes
      results in:

    :html
      <div class="post">
        <h1>By Alan Johnson</h1>
        <div class="body">I Love Handlebars</div>

        <h1>Comments</h1>

        <h2>By Yehuda Katz</h2>
        <div class="body">Me Too!</div>
      </div>

  .bullet
    .description
      Helpers receive the current context as the <code>this</code> context
      of the function.

    :html
      <ul>
        {{#each items}}
        <li>{{agree_button}}</li>
        {{/each}}
      </ul>

    .notes
      when using this context and helpers:

    :javascript
      var context = {
        items: [
          {name: "Handlebars", emotion: "love"},
          {name: "Mustache", emotion: "enjoy"},
          {name: "Ember", emotion: "want to learn"}
        ]
      };

      Handlebars.registerHelper('agree_button', function() {
        return new Handlebars.SafeString(
          "<button>I agree. I " + this.emotion + " " + this.name + "</button>"
        );
      });

    .notes
      results in:

    :html
      <ul>
        <li><button>I agree. I love Handlebars</button></li>
        <li><button>I agree. I enjoy Mustache</button></li>
        <li><button>I agree. I want to learn Ember</button></li>
      </ul>

    .notes
      If your helper returns HTML that you do not want escaped, make sure
      to return a new <code>Handlebars.SafeString</code>.
